h1 {
    font-size: 70px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e07d6e;
}

.container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 500px;
    height: 500px;
}

.grid-row {
    display: flex;
    flex: auto;
}

.grid-cell {
    flex: auto;
    border: 1px solid black;
}

.highlighted-grid-cell {
    background-color: #b53f28;
}